body{
    
    margin: 0 auto;
    width:80%;
    text-align: center;
}
.container{
    margin:0 auto;
    width: 50%;
    background-color: grey;
    height: 280px;
    margin-bottom: 20px;
}

#labels{
    width:  50%;
    width: 45%;
}

#results {
    float:right;
    background-color: grey;
    width: 58%;
}


#results p{
    padding: 8px 2px 2px 2px;
    margin:0;
    background-color:white;
    border: 10px solid grey;
    text-align: left;
    height: 1em;
}


#labels p{
    padding: 8px 2px 2px 2px;
    margin: 0;
    color: white;
    border: 10px solid grey;
    text-align: right;
}