body{
  font-size: 16px; 
  margin: 0 auto;
   text-align: center;
}
h1{
 
  font-size: 25px;
  
}
table{
    table-layout: fixed;
    width: 430px;
    height: 270px;
    margin: 0 auto;
    margin-bottom: 10px;
    border-collapse: collapse;
    text-align: left;
}

td{
  border: 6px solid grey;
  padding-left: 8px;

}

td:first-child{
font-weight: bold;
background-color: grey;
width: 40%;
color: white;
}

td:last-child{
  background-color: white;
  width: 60%;
}
button{
  height: 30px;
  width: 80px;
  text-align: center;
  margin-bottom: 6px;
}

