table{
    table-layout: fixed;
    width: 200px;
}

td {
/*    border: 1px solid black;*/
    overflow: hidden;
    width: 100px;
    padding-bottom: 10px;
}
table{
border-collapse: collapse;
}


td:first-child{
  font-weight:bold;
  background-color: grey;
}

td:last-child{
  color:pink;
}